<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Socket.IO chat</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>
    <div class="containApp">
      <div class="userConnect">
        <ul>
          <li class="userConectlist">
            <span>clientImage</span>
            <span>client  Infos</span>
          </li>
        </ul>
      </div>

      <!-- Div message box -->
      <div class="containMessageBox">
        <div class="afficheNometPhoto">
          <span class="userimage">Image</span>
          <span class="username">Penuel Essoh</span>
        </div>
        <ul id="messages">
          <% for (let index = 0; index < data.length; index++) {
            const element = data[index]; %>
            <li class="messagUser"> <%= element.message %> </li>
          <% } %>
        </ul>
    
        <form id="form" action="">
          <input id="input" type="text" name="message" autocomplete="off" /><button>Send</button>
        </form>
      </div>
    </div>
    




    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/client.js"></script>
  </body>
</html>